<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>

<body>
   {{>navbar}}
    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-15 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="img/bg.jpg" alt="" class="img-fluid">
                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weatherCheck</p>
                        <h1>I am A <span class="text_clr">FrontEnd</span>    Developer</h1>
                        <a href="https://anujy-code.github.io/Anujkumar-Yadav/"target="_blank"><button>About Me</button></a>

                    </div>

                    



                </div>
            </div>
        </div>
        <footer>

            <p>Created by nightCoder</p>
        </footer>


</body>

</html>